<header>
  <h3>Entera's Home Challenge</h3>
</header>

<main>

<%= form_tag('/search', method: 'get') do -%>
  <%= label_tag :college_name, 'Search by School Name' %>
  <%= text_field_tag :college_name, params['college_name'] %>
  <%= submit_tag :search %>
<% end -%>

<gmp-map center="<%= @center['lat'] %>, <%= @center['lon'] %>" zoom="6"
         map-id="DEMO_MAP_ID" style="height: 400px" >

  <% @colleges && @colleges['results'].each do |c| %>
  
  <gmp-advanced-marker
        position="<%= c['location.lat'] %>,<%= c['location.lon'] %>"
        title="<%= c['school.name'] %>"
   ></gmp-advanced-marker>
  
  <% end %>
</gmp-map>

</main>

<footer>
  <p>by Gastón Ramos.</p>
</footer>
 
<!-- 
     The `defer` attribute causes the script to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises. See
     https://developers.google.com/maps/documentation/javascript/load-maps-js-api
     for more information.
  -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&libraries=maps,marker&v=beta"
  defer
  ></script>

  
